@import "../sass-variables";
.main-text-input {
    text-align: left;
    .drop-textarea {
        width: 100%;
        height: 100px;
    }
    .hashtag {
        font-weight: bold;
        display: inline-block;
        color: $highlight-color;
        padding: 0px 5px;
    }
    .hashtag-list {
        min-height: 2em;
    }
}