$highlight-color: #214dd1;
$highlight-color-shaded: #4a66bd;
$highlight-color-light: #9cbcf0;
$highlight-color-lighter: #d4e4ff;
$highlight-color-light-toned: #dfe2e8;
$contrast-color: #a17a2b;
$button-color-upper : #3268c0;
$button-color-lower : #274195;
$warning-color-upper : #e4bc6c;
$warning-color-lower : #d6a033;